{% extends 'base.html.twig' %}

{% block title %}
    eBaruwa
{% endblock %}

{% block main %}
    <section class="bg-gradient-to-b from-amber-400 to-amber-50 pt-10">
        <section class="mt-3">
            <div class="flex items-center py-24 px-32 justify-between">
                <div class="flex flex-col gap-5 w-96">
                    <h1 class="text-4xl font-extrabold">eBaruwa&#46; Discover Your Next Great Read&#33;</h1>
                    <p class="font-medium text-lg">
                        Explore captivating stories and hidden gems. Whether you're into fiction, non-fiction, or anything in between, we've got something for everyone!
                    </p>
                    <div class="flex space-x-6 font-bold">
                        <button class="rounded-md border border-red-700 drop-shadow-md shadow-lg shadow-red-900 bg-orange-600 pt-1 pb-2 px-5 text-white">Start reading</button>
                        <button class="rounded-md border border-red-700 drop-shadow-md shadow-lg shadow-red-900 bg-orange-600 pt-1 pb-2 px-5 text-white">Start writing</button>
                    </div>
                </div>
                <div class="backdrop-blur-sm bg-white/30 p-10 z-40 rounded-md">
                    <img src={{ asset("build/images/education.ce1dd05a.svg") }} alt="education" class="w-96">
                </div>
            </div>
        </section>
    </section>
{% endblock %}

{% block body %}
    <section class="">
        <div class="mt-20 m-10 pl-10 h-5">
            <div class="absolute z-10 backdrop-blur-md bg-slate-400/30 -mt-40 h-56 w-96 rounded-md">
                <h1>fasdaff</h1>
            </div>
        </div>
        <div class=" h-96" >
            <h1>Emile</h1>
        </div>
    </section>
{% endblock %}


